# Directus CMS configuration
NEXT_PUBLIC_DIRECTUS_URL=https://frameproject-cms-directus.onrender.com
DIRECTUS_API_TOKEN=YOUR_DIRECTUS_BEARER_TOKEN_HERE

# Cloudinary configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dlraq8anj
CLOUDINARY_API_KEY=278276635138396
CLOUDINARY_API_SECRET=UgkEwkK3Hj7XlMfbIeGrNDEFdnU
